node_modules/
dist/
.env
.env.*
.env.local
node_modules
apps/api/api/index.js
apps/api/api/index.js.map
.turbo
dist
.next
.env
.env.local
*.log
apps/api/uploads/*
!apps/api/uploads/.gitkeep
.DS_Store
Thumbs.db
.vercel
playwright-report/
test-results/
blob-report/
apps/api/.prisma/
apps/api/prisma/.schema.generated
apps/api/prisma/.schema.generated.prisma
docx
**lock.json
pnpm-lock.yaml
.vscode
package-lock.json
s.c-key.pem
s.c.pem